.ad1
{

padding: 20px;
}

.family-title
{
    margin-top:50px ;
    color:rgb(26, 126, 92)
}
.girls-section
{
    background-color: #F0EAD6;
}

.girls-product-title
{
    text-align: center;
    padding: 30px;
    padding-top: 60px;
}