@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500;1,600;1,700&display=swap');

.common-fonts
{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
    
}

.text-center
{
    text-align: center;
    
}

.link-color
{
  color: rgb(56, 66, 68);
}

.link-color:hover
{
  color: rgb(26, 126, 92);  
}

.container-fluid
{
  margin: 0px;
}


.nav-shadow
{
  /*background-color: #E3E6F3;*/
  box-shadow: 0px 5px 10px rgba(89, 97, 100, 0.678)
}

.colored-section
{
  /*background-color: #E3E6F3; */
  background-color:  #F0EAD6;
}

.big-heading
{
  padding: 100px;
}

.itmes-card
{
  
  margin: 20px;
  transition: 200ms;
}
.itmes-card:hover
{
  transition-delay: 100ms;
  transform: scale(1.02);
  box-shadow: 10px 10px 5px rgb(138, 147, 150);
  
}

.cart-icon
{
  display: inline;
  align-self: right;
  height: 45px; 
  width: 45px;
  justify-content: flex-end;
}

.container
{
  padding: 0%;
}


.card {
  margin-left:auto;
  margin-right: auto;
}
.card-image
{
  background-color: #F0EAD6;
  margin: 10px;
  height:246px; 
  width: 245.76px;
}
.card-image img
{
  margin: auto;
  display: block;
  max-height: 244px;
}


.justify-btw-space
{
  justify-content: space-between;
  display: flex;
}

.offer-slide
{
  /*height: 400px; */
  background-image: url("img/back\ ground.jpg");
  background-size: cover;
}

.new-arrivals
{
  background-color: #F0EAD6;
}

.news-letter
{
    margin: 100px 0px 100px 0px;
}

.news-letter div
{
   background-color: #1A1110;
   
}

.news-letter a
{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: black;
}


.sign-up-button
{
    display: block;
    margin: auto;
    margin-top: 98px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    background-color: #F0EAD6;
    box-shadow: 5px 5px 5px rgb(1, 3, 3);
    transition: 500ms;
}

.sign-up-button:hover
{
  background-color: darkgrey;
}

.pagination
{
  background-color:  #F0EAD6 ;
  padding-top: 30px;
  padding-bottom: 50px;
  
}
.pagination a 
{
    color: darkgrey;
}
.pagination a:hover
{
  color: rgb(26, 126, 92) ;
}

.pagination.active
{
  background-color: rgb(26, 126, 92) ;
}

.white-section {
  background-color: #fff;
  
}

.white-section div 
{
  display: inline; 
   
  text-align: center;
  margin-left: 45%;
}


@media (max-width:991px)
{
    .sign-up-button
    {
        margin-top: -15px;
        margin-bottom: 20px;
        background-color: antiquewhite;
    }

}

@media (max-width:700px)
 {
   .white-section div 
   {
    margin-left: 40%;
    
   }
 }
  



